*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $ff-1, $ff-2, sans-serif;
  font-size: $fs-default * 1.5;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
