.container {
  max-width: 1110px;
  margin: 0 auto;
}

.link-hover:hover {
  opacity: 0.7;
}

// font
.ff-1 {
  font-family: $ff-1;
}
.ff-2 {
  font-family: $ff-2;
}

.h1 {
  font-size: $fs-default * 4;
  font-weight: bold;
}
.h2 {
  font-size: $fs-default * 3;
  font-weight: bold;
}
.fs-1 {
  font-size: $fs-default;
}
.fs-2 {
  font-size: $fs-default * 1.25;
}
.fs-3 {
  font-size: $fs-default * 1.75;
}
.fs-5 {
  font-size: $fs-default * 2.25;
}
.fs-sm {
  font-size: 14px;
}
.fs-lg {
  font-size: $fs-default * 4.5;
}

@include pad {
  .h1 {
    font-size: $fs-default * 3;
    line-height: 2.25;
  }
  .h2 {
    font-size: $fs-default * 2;
    line-height: 2;
  }
  .fs-lg {
    font-size: $fs-default * 2;
  }
}
@include mobile {
  .h1 {
    font-size: $fs-default * 2;
  }
  .h2 {
    font-size: $fs-default * 1.5;
  }
}

.fw-bold {
  font-weight: bold;
}
.font-italic {
  font-style: italic;
}

.text-primary {
  color: $primary;
}
.text-danger {
  color: $danger;
}
.text-white {
  color: $white;
}
.text-muted {
  color: $gray;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

// bg
.bg-secondary {
  background: $secondary;
}
.bg-danger {
  background: $danger;
  color: $white;
}
.bg-white {
  background: $white;
}

// display
.d-block {
  display: block;
}
.d-none {
  display: none;
}

.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.jc-between {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
.jc-end {
  justify-content: flex-end;
}
.ai-center {
  align-items: center;
}

@include pad {
  .flex-md-row {
    flex-direction: row;
  }
}
@include mobile {
  .d-sm-block {
    display: block;
  }
  .d-sm-none {
    display: none;
  }
  .d-sm-flex {
    display: flex;
  }
  .flex-sm-column {
    flex-direction: column;
  }
  .jc-sm-center {
    justify-content: center;
  }
}

// spacing
.pt-4 {
  padding-top: $space * 4;
}
.pt-8 {
  padding-top: $space * 8;
}
.pb-5 {
  padding-bottom: $space * 5;
}
.pb-10 {
  padding-bottom: $space * 10;
}
.px-4 {
  padding-left: $space * 4;
  padding-right: $space * 4;
}
.px-5 {
  padding-left: $space * 5;
  padding-right: $space * 5;
}
.py-5 {
  padding-top: $space * 5;
  padding-bottom: $space * 5;
}

@include pad {
  .pt-md-5 {
    padding-top: $space * 5;
  }
  .pb-md-4 {
    padding-bottom: $space * 4;
  }
  .pb-md-7 {
    padding-bottom: $space * 7;
  }
  .px-md-3 {
    padding-left: $space * 3;
    padding-right: $space * 3;
  }
  .px-md-5 {
    padding-left: $space * 5;
    padding-right: $space * 5;
  }
  .px-md-10 {
    padding-left: $space * 10;
    padding-right: $space * 10;
  }
}
@include mobile {
  .px-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .px-sm-1 {
    padding-left: $space;
    padding-right: $space;
  }
  .px-sm-2 {
    padding-left: $space * 2;
    padding-right: $space * 2;
  }
}

.mt-2 {
  margin-top: $space * 2;
}
.mb-1 {
  margin-bottom: $space;
}
.mb-2 {
  margin-bottom: $space * 2;
}
.mb-3 {
  margin-bottom: $space * 3;
}
.mb-4 {
  margin-bottom: $space * 4;
}
.mb-5 {
  margin-bottom: $space * 5;
}
.mb-7 {
  margin-bottom: $space * 7;
}
.ml-1 {
  margin-left: $space;
}
.ml-4 {
  margin-left: $space * 4;
}
.ml-6 {
  margin-left: $space * 6;
}
.ml-8 {
  margin-left: $space * 8;
}
.ml-auto {
  margin-left: auto;
}
.mx-5 {
  margin-left: $space * 5;
  margin-right: $space * 5;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@include pad {
  .mb-md-2 {
    margin-bottom: $space * 2;
  }
  .mb-md-4 {
    margin-bottom: $space * 4;
  }
  .mb-md-5 {
    margin-bottom: $space * 5;
  }
  .mb-md-9 {
    margin-bottom: $space * 9;
  }
  .ml-md-0 {
    margin-left: 0;
  }
  .ml-md-3 {
    margin-left: $space * 3;
  }
  .ml-md-4 {
    margin-left: $space * 4;
  }
  .ml-md-5 {
    margin-left: $space * 5;
  }
}
@include mobile {
  .mt-sm-1 {
    margin-top: $space;
  }
  .mb-sm-2 {
    margin-bottom: $space * 2;
  }
  .mb-sm-9 {
    margin-bottom: $space * 9;
  }
  .ml-sm-0 {
    margin-left: 0;
  }
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

@include pad {
  .w-md-50 {
    width: 50%;
  }
}

// border
.border-bottom {
  border-bottom: 1px solid $dark;
}

.border-white {
  border-color: $white !important;
}

@include mobile {
  .border-sm-top {
    border-top: 1px solid $dark;
  }
  .border-sm-right {
    border-right: 1px solid $dark;
  }
}

// position
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.top-0 {
  top: 0;
}
.top-50 {
  top: 50%;
}
.left-50 {
  left: 50%;
}

// translate
.translate-middle {
  transform: translate(-50%, -50%);
}

// image
.object-cover {
  object-fit: cover;
}
