.form-label {
  margin-bottom: $space * 0.5;
  cursor: pointer;
}

.form-control {
  font-size: $fs-default;
  padding: 12px 16px;
  line-height: 1.5;
  width: 100%;
  border: 1px solid $dark;
  background: transparent;
}
.form-control:focus {
  border-color: rgba(170, 6, 1, 0.35);
}

.form-check-label {
  cursor: pointer;
}
.form-check-input {
  background: transparent;
  height: 16px;
  width: 16px;
  margin: 0;
  margin-right: $space * 0.5;
  cursor: pointer;
}
