.navbar-brand {
  @include img-link {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png");
    width: 80px;
    height: 49px;
  }
}
@include pad {
  .sns img {
    width: 24px;
  }
  .footer-contact {
    font-size: $fs-default * 1.25;
  }
}
@include mobile {
  .footer-contact {
    font-size: $fs-default;
  }
}
