// font
$ff-1: "Roboto";
$ff-2: "Noto Sans TC";

$fs-default: 16px;

// color
$primary: #650300;
$secondary: #aa06010d;
$danger: #aa0601;
$white: #fff;
$dark: #000;
$gray: #707070;

// spacing
$space: 8px;
