.btn {
  padding: ($space * 1.5) ($space * 2);
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.btn-danger {
  background: $danger;
  color: $white;
}
