.card {
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 6px #00000029;
  height: 460px;
  border-radius: 5px;
}
.card-body {
  padding: $space * 2;
  flex-grow: 1;
}
.card-footer {
  padding: $space * 2;
}
.card-img-top {
  border-top-left-radius: 5px - 1px;
  border-top-right-radius: 5px - 1px;
}
